body{
    margin : 0px;
    padding : 0px;
    display : flex;
    justify-content : center;
    align-items : center;
    height : 100vh;
}
.form{
    display :  grid;
}
.conteneur{
    position : relative;
    padding: 20px;
    border-radius: 15px;
    display :  grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
.entrer{
    width : 100%;
    border-radius: 15px;
    height : 90px;
    margin-bottom: 30px;
    margin-top: 30px;
    border: none;
}
.touche{
    width: 70px;
    height: 50px;
    display: flex;
    align-items : center;
    justify-content : center;
    border-radius: 10px;
    font-size: 1.5rem;
}

.reset, .egal{
    background: red;
    grid-column: span 2;
    width: 150px;
}

/* Theme1 */
body{
    background: hsl(222, 26%, 31%);
}
.conteneur{
    background-color:hsl(223, 31%, 20%);
    color: hsl(221, 14%, 31%);;
}
.entrer{
    background-color: hsl(224, 36%, 15%);
    color: hsl(0, 0%, 100%);
}
.touche{
    background-color: hsl(0, 0%, 90%);

}
.reset, .delete{
    background-color: hsl(185, 42%, 37%);
    box-shadow: 0px 3px hsl(224, 28%, 35%);
    color: hsl(0, 0%, 100%);;
}
.egal{
    background-color:hsl(25, 98%, 40%);
    box-shadow: 0px 3px hsl(6, 70%, 34%);
    color: hsl(0, 0%, 100%);;
}