@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

*{
    font-family: 'League Spartan', sans-serif;
    
}

body{
    margin : 0px;
    padding : 0px;
    display : flex;
    justify-content : center;
    align-items : center;
    height : 100vh;
}
.conteneur{
    position : relative;
    padding: 20px;
    border-radius: 15px;
    display :  grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
.nomcal{
    font-size: 32px;
}
.tete{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.boiteTheme{
    display: flex;
    align-items: end;
}
.bascule,.nomBascule{
    width : 60px;
    display: flex;
    border-radius: 10px;
    padding: 3px;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}
.btn1, .btn2, .btn3{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(197, 6, 6);
}
.entrer{
    width : 100%;
    border-radius: 15px;
    height : 90px;
    margin-bottom: 30px;
    margin-top: 30px;
    border: none;
    font-size: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.touche{
    width: 70px;
    height: 50px;
    display: flex;
    align-items : center;
    justify-content : center;
    border-radius: 10px;
    font-size: 32px;
}

.reset, .egal{
    background: red;
    grid-column: span 2;
    width: 150px;
}

/* Theme1 */
.tete{
    color: hsl(0, 0%, 100%);
}
.corps1{
    background: hsl(222, 26%, 31%);
}
.conteneur1,.bascule1{
    background-color:hsl(223, 31%, 20%);
    color: hsl(221, 14%, 31%);;
}
.entrer1{
    background-color: hsl(224, 36%, 15%);
    color: hsl(0, 0%, 100%);
}
.touche1{
    background-color: hsl(0, 0%, 90%);
    box-shadow: 0px 3px hsl(224, 28%, 35%);

}
.reset1, .delete1{
    background-color: hsl(185, 42%, 37%);
    box-shadow: 0px 3px hsl(224, 28%, 35%);
    color: hsl(0, 0%, 100%);;
}
.egal1{
    background-color:hsl(25, 98%, 40%);
    box-shadow: 0px 3px hsl(6, 70%, 34%);
    color: hsl(0, 0%, 100%);;
}
/* Theme2 */
.tete2{
    color: hsl(60, 10%, 19%);
}
.corps2{
    background: hsl(0, 0%, 90%);
}
.conteneur2,.bascule2{
    background-color:hsl(0, 5%, 81%);
    color: hsl(221, 14%, 31%);;
}
.entrer2{
    background-color: hsl(0, 0%, 93%);
    color: hsl(221, 14%, 31%);
}
.touche2{
    background-color: hsl(45, 7%, 89%);
    box-shadow: 0px 3px hsl(185, 58%, 25%);

}
.reset2, .delete2{
    background-color: hsl(185, 42%, 37%);
    box-shadow: 0px 3px hsl(224, 28%, 35%);
    color: hsl(0, 0%, 100%);;
}
.egal2{
    background-color:hsl(25, 98%, 40%);
    box-shadow: 0px 3px hsl(25, 99%, 27%);
    color: hsl(0, 0%, 100%);;
}

/* Theme3 */
.tete3{
    color: hsl(52, 100%, 62%);
}
.corps3{
    background: hsl(268, 75%, 9%);
}
.conteneur3,.bascule3{
    background-color:hsl(268, 71%, 12%);
    color: hsl(52, 100%, 62%);
}
.entrer3{
    background-color: hsl(268, 71%, 12%);
    color: hsl(52, 100%, 62%);
}
.touche3{
    background-color: hsl(281, 89%, 26%);
    box-shadow: 0px 3px hsl(285, 91%, 52%);
    color: hsl(52, 100%, 62%);;

}
.reset3, .delete3{
    background-color: hsl(268, 47%, 21%);
    box-shadow: 0px 3px hsl(290, 70%, 36%);
    color: hsl(0, 0%, 100%);;
}
.egal3{
    background-color:hsl(176, 100%, 44%);
    box-shadow: 0px 3px hsl(177, 92%, 70%);
    color: hsl(0, 0%, 100%);;
}

